.ux-painter {
    padding: 20px;
}
.ux-painter h2 {
    color: #000;
}

.ux-painter ul {
    list-style-type: none;
    padding: 0px;
}

.ux-painter ul li:hover {
    background-color: #efefef;
}

.ux-painter li {
    margin: 5px;
}

.ux-painter li a {
    text-decoration: none;
    color: #ffc107;
    font-weight: bold;
}

.target_element_image, .preview-container {
    border: 1px solid #6c757d;
}

.inline-link {
    margin: 5px;
}

/* The Modal (background) */
.ux-painter-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 9999; /* Sit on top */
    padding: 30px; /* Location of the box */
    left: 0;
    top: 0;
}


/* Modal Content */
.ux-painter-modal-container {
    border-radius: 4px;
    background-color: #fefefe;
    margin: 10px;
    padding: 20px;
}

.ux-painter-modal-body {

    border: 1px solid #888;
    margin: 10px;
    padding: 20px;

    max-width: 700px;
    max-height: 400px;
    overflow: scroll;
}

.ux-painter-modal-footer {
}

.ux-painter-btn {
    color: #212529;
    background-color: #ffc107;
    text-align: center;
    border-radius: .25rem;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    margin: 5px;
}

.ux-painter-btn:hover {
    text-decoration: none;
    cursor:pointer;
    color: white;
}

.ux-painter-modal-previews {
    max-width:1500px;
    max-height: 1500px;
}

/* The Close Button */
.ux-painter-modal-close {
    color: #aaaaaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.ux-painter-modal-close:hover,
.ux-painter-modal-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.ux-painter-modal-title {
    text-align: center;
}

.uxpainter-preview-item {
    margin: 20px 0px;
    border-bottom: 1px solid black;
}

.ux-painter-option-list {
    margin: 10px;
}


.ux-painter-list-element {
    list-style-type: none;
    display: inline-block;
    margin: 5px;
}
.ux-painter-list-element a {
    color: #343a40;
    font-weight: bold;
    cursor:pointer;
}

.uxpainter-active-preview {
    color: #dbbf70 !important;
}

a {
    cursor: pointer;
}

.uxpainter-message {
    font-style: italic;
    color: #6c757d;
}

.uxpainter-element-selected {
    background: #dbbf70 !important;
}
.uxpainter-element-selected-2 {
    background: #a84a48 !important;
}

.uxpainter-required-field {
    border-color: rgb(255,0,0) !important;
}

.uxpainter-border-bottom-highlighting {
    border-color: red;
    border-bottom-style: solid;

}

.uxpainter-long-row {
    margin: 30px 0px;
}
